@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
div.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-rows: 50px 25px 300px 25px;
  grid-template-columns: 2fr 1fr;
}

.caixa1 {
  background-color: aqua;
  grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
  background-color: blue;
  grid-area: 2 / 1 / 3 / -1;
}

.caixa3 {
  background-color: aquamarine;
  grid-area: 3 / 1 / 4 / 2;
}

.caixa4 {
  background-color: cadetblue;
}

.caixa5 {
  background-color: cornflowerblue;
  grid-area: -2 / 1 / -1 / -1;
}
