@charset "UTF-8";

@font-face {
  font-family: face;
  src: url(fontes/idroid.otf) format(otf);
}

body {
  background-color: #84e1ad;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  background-image: linear-gradient(#3bd27f, #1a5c38);
  padding: 15px;
  margin: 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.471);
}
main {
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 800px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
}
main > h1 {
  color: #246341;
}
nav {
  text-align: left;
}
p {
  text-indent: 20px;
  text-align: justify;
}
