@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightgrey;
}

header {
  background-color: grey;
}

header > h1 {
  padding: 10px;
  text-align: center;
}

menu {
  display: block;
}

menu {
  list-style: none;
}

menu a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(87, 87, 87);
  color: white;
  border-top: 1px solid black;
}

menu a:hover {
  background-color: rgb(127, 127, 127);
  text-decoration: underline;
  font-weight: bold;
}

main {
  width: 90vw;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

main h2 {
  padding-bottom: 15px;
}

article p {
  text-align: justify;
  margin-bottom: 20px;
  text-indent: 20px;
}
