@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-width: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 50px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
