@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  background: black url(../imagens/back-phone.jpg) no-repeat center center;
}

main {
  background-color: rgba(255, 255, 255, 0.777);
  padding: 10px;
  width: 90vw;
  margin: auto;
  border-radius: 20px;
}
main > h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.637);
}

img#phone {
  display: block;
  margin: auto;
}
img#tablet {
  display: none;
}
img#pc {
  display: none;
}
img#tv {
  display: none;
}
img#print {
  display: none;
}
