@charset "UTF-8";

body {
  background-color: #89c7c7;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #2d4141;
}
h2 {
  color: #547a7a;
}

#principal {
  text-align: center;
  color: white;
  background-color: #2d4141;
}

.basico {
  color: #547a5d;
}
.intermedio {
  color: #777a54;
}

.avancado {
  color: #7a5454;
}
