@charset "UTF-8";

div.container {
  display: grid;
  gap: 5px;
  grid-template: repeat(3, 100px) / repeat(4, 1fr);
}

.caixa1 {
  border: 2px dashed red;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}

.caixa2 {
  border: 2px dashed green;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.caixa3 {
  border: 2px solid blue;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: -1;
}
