@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

header > h1 {
  flex: 0 0 200px;
  color: white;
  border: 1px dotted black;
}

header > nav > a {
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: black;
}

header > nav > a:hover {
  color: black;
  background-color: white;
  transition: background-color 0.3s;
}

header > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border: 1px dotted black;
}

main {
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.442);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 580px) {
  header,
  header > nav {
    flex-flow: column nowrap;
  }
  header > h1 {
    flex-basis: 50px;
  }
  header > nav > a {
    width: 90vw;
  }
}
