@charset "UTF-8";

* {
  /*height: 100%;*/
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #fbe2d0, #fbe2d0);
  background-attachment: fixed;
}
main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #39566880;
}
h1 {
  color: #507993;
  text-align: center;
  text-shadow: 1px 1px 2px #3c5a6d81;
}
h2 {
  color: #76a6b4;
}
p {
  text-align: justify;
}
